<form class="row g-3">
  <div class="col-md-6">
    <label for="inputNombre" class="form-label">Nombre(s)</label>
    <input type="text" class="form-control" id="inputNombre" placeholder="Juan">
  </div>
  <div class="col-md-6">
    <label for="inputApellidos" class="form-label">Apellido(s)</label>
    <input type="text" class="form-control" id="inputApellidos" placeholder="Pérez">
  </div>
  <div class="col-12">
    <label for="inputCorreo" class="form-label">Correo</label>
    <input type="email" class="form-control" id="inputCorreo" placeholder="example@gmail.com">
  </div>
  <div class="col-md-6">
    <label for="inputTipo" class="form-label">Organizador/Invitado</label>
    <select id="inputTipo" class="form-select">
      <option selected>Seleccione una opción</option>
      <option>Organizador</option>
      <option>Invitado</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inputContraseña" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="inputContraseña">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
