<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nombre(s)</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Apellido(s)</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Correo</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="example@gmail.com">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Domicilio</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Tipo de fiesta</label>
      <select id="inputState" class="form-select">
        <option selected>...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-12">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>